<div class="container">
  <header class="jumbotron">
   <strong> <p>{{ content }}</p></strong>
  </header>
  Basically, a web application was developed that expects a resource file as input
  from the user and detects a security vulnerability in this resource file and returns.
  User securely registers, logs in. The logged in user securely initiates the session
  with the JWT. The user uploads and analyzes the file. As a result, he sees security
  vulnerabilities.
  In this way, a full stack application will be developed that works from the bottom
  up.
  In this section, this application will be overviewed, compared with sample projects
  and project design will be presented.In this context, Angular 12 was used for the frontend
  and Java Spring Boot was used for the serve
</div>
